<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Child</title>
  </head>
  <body>
    <h1>Hello, child!</h1>
    <p>
      <a href="https://example.org">External link</a>
    </p>
    <p>
      <a href="{{ url_for('home') }}">Home</a>
    </p>
    <p>
      <a href="{{ url_for('404') }}">Link to 404 page</a>
    </p>
    <p>
      <a href="{{ url_for('api:hello') }}">Link to non-HTML page</a>
    </p>
  </body>
</html>
