-e .

# Build and publishing.
twine
wheel

# Tooling and tests.
autoflake
black==24.3.0
flake8==4.*
httpx==0.22.*
isort==5.*
mypy
pytest==7.*
pytest-asyncio==0.18.*
pytest-cov
seed-isort-config
starlette==0.18.*
